<h1 class = "ui container center aligned">
  <% if logged_in?%>
    <%= link_to "Add post", post_path, class:"ui basic button large" %>
  <%end%>
</h1>
<% @posts.each do |post| %>
  <div class="ui card container center aligned">
    <div class="content">
       <%= post.user.username %>
    <div class="extra text">
      <%= post.info %>
    </div>
    </div>
    <div class="content">
    <% if current_user == post.user %>
     <h4> edit and delete here </h4>
    <% end %>
  </div>
    <div class="content left aligned">
      <i class="comment icon"></i>
      3 comments
    </div>
    <% if post.comments.any? %>
      <div class="content left aligned">
        <% post.comments.each do |comment| %>
          <div>
            <em><bold><%= comment.user.username %>:-&nbsp;</em></bold>
            <em><%= comment.info %></em>
          </div>
        <% end %>
      </div>
    <%end%>
    <%= form_for(@comment, html: {class: "ui reply form",role:"form"},url:comment_path) do |f| %>
      <div class="field">
        <div class = "ui fluid input">
          <%= f.text_field :info ,placeholder: "Enter comment.." %>
          <%= f.hidden_field :post_id, :value => post.id %>
        </div>
      </div>
    <%end%>
  </div>
<% end %>
